<div class="row bg-grey">
    <div class="col-3 mg-20 fsize-30 url">
      <a href="/">Home</a>
    </div>
    <div class="col-3 mg-20 fsize-30 url">
      <a href="/product">Product</a>
    </div>
    <div class="col-3 mg-20 fsize-30 url">
      <a href="/award">Award</a>
    </div>
    <div class="col-3 mg-20 fsize-30 url">
      <a href="/service">Service</a>
    </div>
  </div>
  <div class="row bg-grey">
    <div class="col-12 mg-20">
      <p>Welcome {{ user }} <a href="/logout">Logout</a></p>
    </div>
  </div>