<html>
  <head>
    <title>Eden Property</title>
    <link
      rel="shortcut icon"
      href="/static/icon/favicon.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div class="row h-300 bg-grey">
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/">Home</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/product">Product</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/award">Award</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/service">Service</a>
      </div>
    </div>
    <div class="row">
      <div class="col-4 pd-20 mg-20">
        <h1>Award and Achievements</h1>
        <hr />
        <img src="/static/image/award.jpg" style="width: 100%" />
      </div>
      <div class="col-8 pd-20 mg-20 bg-soft-grey">
        <h3>International Award</h3>
        <hr />

        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Achievement</th>
              <th>Date</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for award in  awards  %}
            <tr>
              <td>{{ loop.index }} </td>
              <td>{{ award.get('achievement') }}</td>
              <td>{{ award.get('date') }}</td>
              <td>{{ award.get('location') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="height: 300px"></div>
      </div>
    </div>
    <div class="row bg-grey" style="height: 100px">
      <div class="col-12 pd-20">
        <hr />
        <p class="text-right">copyright: edenproperty@2023</p>
      </div>
    </div>
  </body>
</html>
