{% extends 'base.html' %} {% block header %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %} {% block content %}
<div class="container">
  <form method="POST" action="/login">
    {% if error_message %}
    <h5 style="color: red">{{error_message}}</h5>
    {% endif %}
    <label>Email</label>
    <input type="email" name="email" />
    <label>Password</label>
    <input name="password" type="password" />
    <button type="submit">Log In</button>
  </form>
</div>
{% endblock %}
