{% extends 'base.html' %} {% block header %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} {% block content %} {% include 'component/menu.html' %}

<div class="row">
  {% for section in products.keys() %}
  <div class="col-4 mg-20 pd-20">
    {% for product in products.get(section) %}
    <div class="card pd-20 mg-20">
      <img src="{{ product.get('image') }}" style="width: 100%" />
      <hr />
      <h3>{{ product.get('title') }}</h3>
      <small style="color: green">${{ product.get("price") }}</small>
      <figcaption>{{ product.get('description') }}</figcaption>
      <button>
        <a href="/product/{{product.get('id')}}">Detail</a>
      </button>
    </div>

    {% endfor %}
  </div>

  {% endfor %}
</div>

{% endblock %} {% block footer%} {% include 'component/footer.html'%} {%
endblock %}
