<html>
  <head>
    <title>Eden Property</title>
    <link
      rel="shortcut icon"
      href="/static/icon/favicon.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div class="row bg-grey">
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/">Home</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/product">Product</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/award">Award</a>
      </div>
      <div class="col-3 mg-20 fsize-30 url">
        <a href="/service">Service</a>
      </div>
    </div>
    <div class="row bg-grey">
      <div class="col-12 mg-20">
        <p>Welcome {{ user }} <a href="/logout">Logout</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 pd-20 mg-20">
        <h1>{{ product.get('title') }}</h1>
        <hr />
        <img src="{{product.get('image')}}" style="width: 100%" />
      </div>
      <div class="col-8 pd-20 mg-20 bg-soft-grey">
        <h3>Detail Product</h3>
        <hr />
        <table>
          <tbody>
            {% for key, value in product.items() %}
              {% if key != "image" %}  
                <tr>
                  <td>{{ key | capitalize }} </td>
                  <td>{{ value }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <div style="height: 300px"></div>
      </div>
    </div>
    <div class="row bg-grey" style="height: 100px">
      <div class="col-12 pd-20">
        <hr />
        <p class="text-right">copyright: edenproperty@2023</p>
      </div>
    </div>
  </body>
</html>
